
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#divContact" aria-controls="divContact" role="tab" data-toggle="tab"><strong>Contact</strong></a></li>
        <li role="presentation"><a href="#divRequirements" aria-controls="divRequirements" role="tab" data-toggle="tab"><strong>Requirements</strong></a></li>
        <li role="presentation"><a href="#divFAQs" aria-controls="divFAQs" role="tab" data-toggle="tab"><strong>FAQs</strong></a></li>
        <li role="presentation"><a href="#divAbout" aria-controls="divAbout" role="tab" data-toggle="tab"><strong>About</strong></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="divContact">
            <div id="contact" class="container-fluid">
                <div class="text-center">
                    <h2>Contact Us</h2>
                    <h4>If you have any question and problem, Please contact us</h4>
                </div>
                <div class="row slideanim slide">
                    <div class="col-sm-4 col-xs-12">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading height-heading">
                                <h2>Yoonsuk Cho</h2>
                            </div>
                            <div class="panel-body">
                                <p><strong>System Analyst</strong></p>
                                <p><strong>Programmer</strong></p>
                                <p><strong>Tester</strong></p>
                                <p><strong>Report Developer</strong></p>
                            </div>
                            <div class="panel-footer height-footer">
                                <span class="glyphicon glyphicon-envelope glyphicon-large"></span>
                                <h4>ycho5551@conestogac.on.ca</h4>
                                <span class="glyphicon glyphicon-phone glyphicon-large"></span>
                                <h4>519-729-1890</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading height-heading">
                                <h2>Moonjoon Park</h2>
                            </div>
                            <div class="panel-body">
                                <p><strong>System Analyst</strong></p>
                                <p><strong>Report Developer</strong></p>
                                <p><strong>Programmer</strong></p>
                                <p><strong>Database Analyst</strong></p>
                            </div>
                            <div class="panel-footer height-footer">
                                <span class="glyphicon glyphicon-envelope glyphicon-large"></span>
                                <h4>mpark1097@conestogac.on.ca</a></h4>
                                <span class="glyphicon glyphicon-phone glyphicon-large"></span>
                                <h4>226-988-5500</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading height-heading">
                                <h2>Kevin Kim</h2>
                            </div>
                            <div class="panel-body">
                                <p><strong>Project Manager</strong></p>
                                <p><strong>UI Designer</strong></p>
                                <p><strong>Programmer</strong></p>
                                <p><strong>Tester</strong></p>
                            </div>
                            <div class="panel-footer height-footer">
                                <span class="glyphicon glyphicon-envelope glyphicon-large"></span>
                                <h4>kkim8014@conestogac.on.ca</a></h4>
                                <span class="glyphicon glyphicon-phone glyphicon-large"></span>
                                <h4>226-989-6339</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="divRequirements">
            <div id="Requirements" class="container-fluid">
                <div class="text-center">
                    <h2>Requirements</h2>
                    <h4>You should use web browsers which support HTML5</h4>
                </div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item border-color"><a target="_blank" href="https://www.google.com/chrome">Google Chrome</a></li>
                        <li class="list-group-item border-color"><a target="_blank" href="https://www.mozilla.org/en-US/">Fire Fox</a></li>
                        <li class="list-group-item border-color"><a target="_blank" href="https://www.opera.com/ko/download">Opera</a></li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="divFAQs">
            <div id="FAQs" class="container-fluid">
                <div class="text-center">
                    <h2>FAQs</h2>
                    <h4>There are some answers that were frequently asked</h4>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    I do not have id do I have to register?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Yes. You must register. When you register, you need input all following information that are given. And specify your user status.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    I registered but I cannot see any report tab
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                When you register, the message automatically sends to administrator to request your account be active. 
                                If you cannot see any reports tab on the top, then your status is waiting to active. 
                                Your status will become active within 24hours.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    What should I do if I do not have programs to access downloaded reports?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Reports are downloadable as xml, csv, pdf, mhtml, excel, and tiff files.
                                If you do not have following programs, then you need to download programs
                                that supports those file extensions.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="divAbout">
            <div id="About" class="container-fluid">
                <div class="text-center">
                    <h2>About</h2>
                    <h4>CPK Solution</h4>
                </div>
                <div class="well well-trans">
                    <p style="text-align:left; font-size:150%;"> CPK solution is extension of SQL server reporting service(SSRS) system that allows user to have ability to access
                    as internal employee and vendor to view reports from the internet. Our application's strength is that user those who are
                    registered in company also can access data through using our own authentication on internet without using window authentication.
                    <br />
                    <p style="text-align:center; font-size:150%;"><strong>Specially Thanks to Steven Henein</strong></p>
                    <p style="float:right;font-size:130%;">Made by: Moonjoon Park, Yoonsuk Cho, and Kevin Kim</p>
                    <br />
                </div>
            </div>
        </div>
    </div>

</div>