
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#divContact" aria-controls="divContact" role="tab" data-toggle="tab"><strong>Contact</strong></a></li>
        <li role="presentation"><a href="#divRequirements" aria-controls="divRequirements" role="tab" data-toggle="tab"><strong>Requirements</strong></a></li>
        <li role="presentation"><a href="#divFAQs" aria-controls="divFAQs" role="tab" data-toggle="tab"><strong>FAQs</strong></a></li>
        <li role="presentation"><a href="#divAbout" aria-controls="divAbout" role="tab" data-toggle="tab"><strong>About</strong></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="divContact">
            <div id="contact" class="container-fluid">
                <div class="text-center">
                    <h2>Contact Us</h2>
                    <h4>If you have any question and problem, Please contact us</h4>
                </div>
                <div class="row slideanim slide">
                    <div class="col-sm-4 col-xs-12">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading height-heading">
                                <h2>Yoonsuk Cho</h2>
                            </div>
                            <div class="panel-body">
                                <p><strong>System Analyst</strong></p>
                                <p><strong>Programmer</strong></p>
                                <p><strong>Tester</strong></p>
                                <p><strong>Report Developer</strong></p>
                            </div>
                            <div class="panel-footer height-footer">
                                <span class="glyphicon glyphicon-envelope glyphicon-large"></span>
                                <h4>ycho5551@conestogac.on.ca</h4>
                                <span class="glyphicon glyphicon-phone glyphicon-large"></span>
                                <h4>519-729-1890</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading height-heading">
                                <h2>Moonjoon Park</h2>
                            </div>
                            <div class="panel-body">
                                <p><strong>System Analyst</strong></p>
                                <p><strong>Report Developer</strong></p>
                                <p><strong>Programmer</strong></p>
                                <p><strong>Database Analyst</strong></p>
                            </div>
                            <div class="panel-footer height-footer">
                                <span class="glyphicon glyphicon-envelope glyphicon-large"></span>
                                <h4>mpark1097@conestogac.on.ca</h4>
                                <span class="glyphicon glyphicon-phone glyphicon-large"></span>
                                <h4>226-988-5500</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading height-heading">
                                <h2>Kevin Kim</h2>
                            </div>
                            <div class="panel-body">
                                <p><strong>Project Manager</strong></p>
                                <p><strong>UI Designer</strong></p>
                                <p><strong>Programmer</strong></p>
                                <p><strong>Tester</strong></p>
                            </div>
                            <div class="panel-footer height-footer">
                                <span class="glyphicon glyphicon-envelope glyphicon-large"></span>
                                <h4>kkim8014@conestogac.on.ca</h4>
                                <span class="glyphicon glyphicon-phone glyphicon-large"></span>
                                <h4>226-989-6339</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="divRequirements">
            <div id="contact" class="container-fluid">
                <div class="text-center">
                    <h2>Requirements</h2>
                    <h4>You should use web browsers which support HTML5</h4>
                </div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item border-color">Google Chrome</li>
                        <li class="list-group-item border-color">...</li>
                        <li class="list-group-item border-color">...</li>
                    </ul>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="divFAQs">
            <div id="contact" class="container-fluid">
                <div class="text-center">
                    <h2>FAQs</h2>
                    <h4>...</h4>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    Collapsible Group 1
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    Collapsible Group 2
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    Collapsible Group 3
                                </a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="divAbout">
            <div id="contact" class="container-fluid">
                <div class="text-center">
                    <h2>About</h2>
                    <h4>...</h4>
                </div>
                <div class="well well-trans">
                    ...
                </div>
            </div>
        </div>
    </div>

</div>