@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Welcome to CPK Solution!</h1>
    <h3>CPK Solution provides various Reports with SQL Server Reporting Services (SSRS). </h3>
    <h5>We made the solution with MVC 5.0, JQuery, Bootstrap, Microsoft SQL Server 2014, 
        Microsoft Visual Studio 2015, SQL Server Reporting Services, C#, and so on. </h5>
    <h5>
        Our system has functionalities against Cross Site Scripting Attacks,
         Cross Site Request Forgbery, and SQL Injection to protect Data and User information.

    </h5>
</div>

