@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Welcome CPK Solution!</h1>
    <p>CPK Solution provides various Reports with SQL Server Reporting Services (SSRS). </p>
    <p>We made the solution with MVC 5.0, JQuery, Bootstrap, Microsoft SQL Server 2014, 
        Microsoft Visual Studio 2015, SQL Server Reporting Services, C#, and so on. </p>
</div>

