
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>CPK Solution</h2>
<hr />
<script src="~/Scripts/dist/jstree.js"></script>
<link rel="stylesheet" href="~/Scripts/dist/themes/default/style.css" />

<div id="groupTree" style="min-width:350px;" >
    

</div>

<script type="text/javascript">

    //$('#groupTree').jstree({
    //    'core': {
    //        'data': [
    //            {
    //                "text": "CPK Solution", "state" : { "opened" : true }, "children": [
    //                      {
    //                          "text": "Sales Dept", "id": 1, "children": [
    //                              { "text": "Sales Section", "id": 2 }
    //                          ]
    //                      },
    //                      {
    //                          "text": "Quality Control Dept", "id": 3, "state": { "opened": true }, "children": [
    //                              { "text": "Quality Control Section", "id": 4 },
    //                              { "text": "Quality Engineering", "id": 5 },
    //                              { "text": "Manufacturing Process", "state": { "opened": true , "selected": true }, "id": 6 },
    //                              { "text": "Torsion Testing", "id": 7 }
    //                          ]
    //                      }
    //                ]
    //            }
    //        ]
    //    }
    //});

    $('#groupTree').jstree({
        'core': {
            'data': {
                'url': "@Url.Action("GetList")",
                'data': function () {
                    return { 'UserId': 1, 'GroupId': 1 };
                }
            }
        }
    });



</script>
