body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

html,body {height:100%;}
.navbar {
        margin-bottom: 0;
        background-color: #f4511e;
        z-index: 9999;
        border: 0;
        font-size: 12px !important;
        line-height: 1.42857143 !important;
        letter-spacing: 4px;
        border-radius: 0;
    }
    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a {
        color: #f4511e !important;
        background-color: #fff !important;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #fff !important;
    }
    .navbar-fixed-bottom{
        background-color: #f4511e;
        color: #fff !important;     
        line-height: 20px;
    }
    .navbar-fixed-bottom p{
        margin: 10px; 
    }
    .jumbotron {
        background-color: #f4511e;
        color: #fff;
        padding: 100px 25px;
    }
    .container-fluid {
        padding: 20px 30px;
    }
    textarea.form-control {
        margin-bottom: 5px;
    }

    .panel {
        border: 1px solid #f4511e;
    }
    .panel-heading {
        color: #fff !important;
        background-color: #f4511e !important;
    }
    .panel-footer {
        color: #fff !important;
        background-color: #f4511e !important;
        word-wrap: break-word;
    }

    .navbar-brand{
        font-family: 'Abril Fatface', cursive;
    }

    .height-heading{
        height: 100px;
    }

    .height-footer{
        height: 200px;
    }

    .glyphicon-large {
        font-size: 30px;
    }

    .well-trans {
        border: 1px solid #f4511e;
        background-color : transparent;
    }

    .border-color {
        border: 1px solid #f4511e;
    }