
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>List</h2>
@Html.ActionLink("Upload Report","Create","ReportView")
<div id="grid" style="min-width:600px;" >
    <div>
        <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th data-input-type="checkbox" data-input-value="ReportID" data-action="grid_checkbox_click"></th>
                    <th data-column="ReportID" data-sort="true" data-align="center">ID</th>
                    <th data-column="ReportName" data-sort="true" data-search="true" data-action="grid_click">Name</th>
                    <th data-column="ReportPath">Path</th>
                    <th data-column="IsActive" data-align="center">Active</th>
                    <th data-column="ModifyDate" data-sort="true" data-align="center">Modify Date</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">   

    $(function () {
        $("#grid").moonGrid({
            pageNo: 1,
            pageSize: 10,
            url: "/ReportView/GetList",
            showPager: true,
            showSort: true,
            showSearcher: true,
            showModal: false
        });
    });

    function grid_click(event)
    {
        //event.data.row has all row information such as ReportID, ReportName, and so on
        alert(event.data.row.ReportID);
    }
    function grid_checkbox_click(event) {
        //event.data.row has all row information such as ReportID, ReportName, and so on
        alert(event.data.row.ReportID);
    }


</script>
@section Scripts {
    @Scripts.Render("~/bundles/moonGrid")
}
