@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        @if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("User", "Index", "Account")</li>
            <li>@Html.ActionLink("Reports", "List", "ReportView")</li>
            <li>@Html.ActionLink("Group", "List", "Group")</li>
        }
        else
        {
            <li>@Html.ActionLink("Reports", "Reports", "Group")</li>
        }

    </ul>
}

