@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div id="About" class="container-fluid">
    <div class="text-center">
        <h2>Error</h2>
        <h4>An error occurred while processing your request.</h4>
    </div>
    <div class="well well-trans">
        <p style="text-align:left;">
            Please contact the administrator of CPK Solution.<br />
            <b>Error Code</b> : @Model.Exception.<br />
            <b>Error Message</b> : @Model.Exception.Message
            
        </p>
    </div>
</div>